[Desktop Entry]
Version=1.0
Name=Emacs (Custom Server)
Exec=/usr/bin/emacs --daemon &
Icon=emacs
Type=Application
Terminal=false
Categories=Utility;Development;TextEditor;
StartupNotify=true
StartupWMClass=Emacs
Keywords=Text;Editor;
